node_modules/
.env
.DS_Store

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

Backend/bin/
Backend/obj/
Backend/.vs/
Backend/*.user
Backend/*.suo
Backend/*.userosscache
Backend/*.sln.docstates
Backend/appsettings.json
Backend/appsettings.*.json

.idea/

Backend/Migrations/

Backend/publish/

Backend/.vscode/
Backend/*.rsuser
Backend/*.sln.docstates

.scaffold/

frontend/node_modules/
frontend/build/
frontend/.eslintcache
frontend/.next/
frontend/.cache/
frontend/coverage/
package-lock.json
yarn.lock

coverage/
